body {
	background-color: rgb(255, 250, 250);
}

h1 {
	height: 80px;
	font-family: Helvetica, sans-serif;
	font-size: 36pt;
	margin: auto;
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
}

h3 {
	font-family: Helvetica, sans-serif;
	margin: auto;
	font-size: 18pt;
	text-align: center;
	margin-bottom: 10px;
}

ol {
	list-style-type: "- ";
	list-style-position: outside;
}

ol li {
	margin: 15px;
	font-size: 16pt;
}

a:visited {
	color: blue;
}

a:hover {
	background-color: rgb(25, 25, 112);
	color: rgb(255, 255, 255);
}

ul.table_of_content li{
	font-size: 14pt;
	margin: auto; 
	list-style-type: none;
	margin-bottom: 0.3em;
}

.poem-box {
    --poem-box-color: #f4efe7;

    width: min(90%, 700px);
    box-sizing: border-box;
    padding: 0.5rem 3rem;
    margin: 1rem 1rem;

    background-color: var(--poem-box-color);
    border: 1px solid #d8d0c4;
    border-radius: 16px;
	font-size: 14pt;
}

.poem-title {
	margin: 0.5rem auto;
	text-align: right; 
}
