body {
	background-color: rgb(255, 250, 250);
	margin: auto;
	width: 95%;
	font-size: 16pt;
}

h2 {
	font-size: 24pt;
}

ol {
	list-style-type: upper-greek;
	list-style-position: outside;
}

li {
	margin: 15px;
	font-size: 16pt;
}
