body {background-color: rgb(255, 250, 250);
      font-size: 18pt;
	 }

h1 {background-color: rgb(25, 25, 112);
    color: rgb(255, 255, 255);
	font-family: Helvetica, sans-serif;
	font-size: 14pt;
	}
